{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="w-50 m-auto my-4">
        <h2>Login Your Account</h2>
        
        {% for message in messages %}
        <p class="py-1 px-2 text-success bg-secodary">{{message}}</p>
        {% endfor %}
            
        <form method="post">
            {% csrf_token %}
            {{form | crispy}}
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
    </div>
{% endblock content %}
    